@import url(<style>
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,100&display=swap');
</style>)





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


header {
    background-image: url("../capibara/hero.png");
    background-size: cover;
    height: 100vh;
    padding: 25rem;
}

h1 {
    font-size: 5rem;
    font-weight: 900;
    color: #FFF;
    font-family: 'Poppings';
}

span {
    font-size: 4rem;
    font-size: 4rem;
    color: #FFF;
}